.posts {
  display: flex;
  flex-wrap: wrap;
  width: 947px;
  margin: 20px 246px 0 247px;
  justify-content: space-between;
}
.post_module {
  width: 467px;
  height: 388px;
  box-sizing: border-box;
  background: #ffffff;
  border: 5px solid #27569c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;
}
.post_module_photo {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 25px 30px 0 21px;
  float: left;
}
.post_module_company {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0 21px 0 30px;
}
.post_module_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 94px 21px 24px 21px;
}
.post_module_body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 24px 21px 26px 21px;
}
@media (max-width: 744px) {
  .posts {
    width: 670px;
    margin: 25px 37px 0px 37px;
  }
}
@media (max-width: 320px) {
  .posts {
    width: 292px;
    height: 200px;
    margin: 10px 15px 0 13px;
  }
  .post_module_photo {
    display: none;
  }
}
